.login-title {
    font-weight: bold;
    padding-left: 10px;
}

.login-password .login-btn {
    margin-bottom: 20px;
}

.login-ortext {
    text-align: center;
}

.register-link {
    color: blue;
}

.register-msg {
    text-align: center;
}

.login-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.signin-full-width {
    width: 100%;
}

.title-row {
    text-align: center;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}

.login-text {
    text-align: left;
    padding-left: 20px;
}

.login-btn {
    margin-left: 10px;
    margin-right: 10px;
}