.edit-expense-heading {

    text-align: center;

}

.category {
    margin-bottom: 20px;
}

.edit-expense-container {
 
    margin-top: 90px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}