.add-expense-heading {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.category {
    margin-bottom: 20px;
}

.add-expense-container {
    margin-top: 90px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

ion-item {
    --highlight-color-focused: #33BBFF;
  }