<ion-app>
  <ion-menu contentId="main-content" side="start" >
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <ion-content>
      <ion-list id="menu-list"> 
        <ion-list-header>Hi There!</ion-list-header>
          <ion-note>user@example.com</ion-note>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages; let i = index">
          <ion-item (click)="selectedIndex = i" [routerLink]="page.path" routerDirection="root"  lines="none" [routerLinkActive]="['selected']">
            
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{page.name}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- For logout-->
        <ion-item lines="none">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content" main></ion-router-outlet>
</ion-app>