
.home-header {
    text-align: center;
}

.home-title {
    text-align: left;
    padding-left: 20px;
}


.fab-btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
  }

.mat-table {
    overflow-x: scroll;
}

#details {
    text-align: center;
}

.paymentdisperr {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

mat-raised-button {
    margin: 2px;
}

.chart-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}

ion-spinner {
    text-align:center;
}