<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <p>Home Page works!</p> -->
    <ion-grid>
      <ion-row>
          <ion-col>
              <h2 ion-text class="home-header home-title">Welcome to Xtrack!</h2>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h5 ion-text style="text-align: left; padding-left: 20px;">Manage your expenses with ease!</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <mat-horizontal-stepper [linear]="isLinear" #stepper class="home-stepper">
          <mat-step label="Step 1">
            <p>Add your Expenses</p>
            <!-- <div>
              <button mat-raised-button matStepperNext>Next</button>
            </div> -->
          </mat-step>
          <mat-step label="Step 2">
            <p>Edit/Delete them as per your need!</p>
            <!-- <div>
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button matStepperNext>Next</button>
            </div> -->
          </mat-step>
          <mat-step label="Step 3">
            
            <p>Keep track of your expenses acc. to a customized date range!</p>
          </mat-step>
        
          <!-- Icon overrides. -->
          <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
          </ng-template>
        </mat-horizontal-stepper>
        
      </ion-row>

      <ion-row class="monthly-overview-heading">
        <ion-col>
          <h5 ion-text style="text-align: left; padding-left: 19px;">Datewise Overview <span *ngIf="categoryTotalAmount !== 0"><strong>(Total: {{ categoryTotalAmount | currency:"INR":"symbol" }})</strong></span></h5>
          
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="floating">Start Date</ion-label>
                <ion-datetime max={{maxdate}} value={{fromdate}} [(ngModel)]="fromdate" (ionChange)="startDateChanged($event)" placeholder="From"></ion-datetime>
            </ion-item>    
        </ion-col>
        <ion-col>
            <ion-item>
                <ion-label position="floating">End Date</ion-label>
                <ion-datetime max={{maxdate}} value={{todate}} [(ngModel)]="todate" (ionChange)="endDateChanged($event)" placeholder="To"></ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>

      <ion-row>
        <ion-col>
          <div *ngIf="categoryDataLoading; else dataBlock" class="chart-loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
          <ng-template #dataBlock>
            <!-- <ion-item class="ion-no-padding" lines="none" style="display: block; text-align: center; position: relative;">
              <canvas baseChart 
                [data]="pieChartData" 
                [labels]="pieChartLabels" 
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend"
                [colors]="pieChartColors">
              </canvas>
            </ion-item> -->
            <ion-item lines="none">
              <p class="no-expense" *ngIf="tableData.length === 0; else tableBlock" ion-text>
                No expenses recorded yet!
              </p>
              <ng-template #tableBlock>
                <table mat-table [dataSource]="tableData" class="table-data">
                  <!-- Category Column -->
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element" class="category"> <ion-icon name="checkmark-circle-outline" class="row-icon"></ion-icon> {{ element.category | titlecase }} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element" class="amount"> {{ element.amount | currency:"INR":"symbol" }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </ng-template>
            </ion-item>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>

    
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="fab-btn">
        <!-- <ion-fab-button>
         <ion-icon name="chevron-up-circle-outline"></ion-icon>
        </ion-fab-button> -->

        <!-- <ion-fab-list side="top"> -->

          <ion-fab-button color="primary" (click)="routeFunction('/xtrack/menu/add-expense')">
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>

          <!-- <ion-fab-button color="light" (click)="routeFunction('/qrscan')">
            <ion-icon name="qr-code-sharp" ></ion-icon>
          </ion-fab-button>
          
        </ion-fab-list> -->
      </ion-fab>

    
</ion-content>