.about-page-container {
    margin-left: auto;
    margin-right: auto;
}

.about-page-heading {
    text-align: left;
    padding-left: 20px;
}

.privacy-policy {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.ionic-fw-text{
    color: blue;
    text-decoration: none;
}

.footer-text {
    padding-left: 20px;
}