<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <div class="about-page-container">
     
      <ion-row>
        <ion-col class="about-page-heading">
          <h2 ion-text>Privacy Policy</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="privacy-policy">
            This service is provided by Lakshyajit Laxmikant at no cost and is intended for use as is.

This page is used to inform visitors regarding my policies with the collection, use, and disclosure of personal information if anyone decided to use my service.

If you choose to use my service, then you agree to the collection and use of information in relation to this policy. The personal information that I collect is used for providing and improving the Service.
 I will not use or share your information with anyone except as described in this privacy policy.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="about-page-heading">
          <h2 ion-text>Information Collection and Use</h2>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col>
          <p class="privacy-policy">
            For a better experience, while using our Service, I may require you to provide us with certain personally identifiable information, 
            including but not limited to name and email. The information that I request will be retained on your device and is not collected by me in any way.

The app does use third party services that may collect information used to identify you.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p ion-text class="footer-text">Made with <a class="ionic-fw-text" href="https://ionicframework.com/">Ionic</a></p>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>