<ion-header>

</ion-header>

<ion-content padding>
  <div class="spinner-wrapper">
    <ion-spinner *ngIf="this.pageloading; else elseBlock" name="crescent" class="pageload-spinner"></ion-spinner>
  </div>
  <ng-template #elseBlock>
      <ion-grid>
        <div class="register-container">
            <ion-row>
              <ion-col>
                <div class="register-title">
                  <!-- <ion-icon name="wallet-outline"></ion-icon> -->
                  <h1 ion-text class="app-title">Xtrack</h1>
                <h2 ion-text>Register</h2>
                </div>
              </ion-col>
              
          </ion-row>
          <form [formGroup]="registerForm">
              <ion-row>
                <ion-col>
                  <ion-item>
                    <mat-form-field class="register-full-width" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" [errorStateMatcher]="matcher"
                            placeholder="John Doe">
                      <mat-hint>(between 5 and 40 characters)</mat-hint>
                      <mat-error *ngIf="nameValue.hasError('minLength') || nameValue.hasError('maxLength') || !nameValue.hasError('required')">
                        Please enter a valid name 
                      </mat-error>
                      <mat-error *ngIf="nameValue.hasError('required')">
                        Name is <strong>required!</strong>
                      </mat-error>
                    </mat-form-field>
      
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <mat-form-field class="register-full-width" appearance="outline">
                      <mat-label>UserName</mat-label>
                      <input matInput formControlName="username" [errorStateMatcher]="matcher"
                            placeholder="Ex. johndoe">
                      <mat-hint>(between 5 and 15 characters)</mat-hint>
                      <mat-error *ngIf="userNameValue.hasError('minLength') || userNameValue.hasError('maxLength') ||  !userNameValue.hasError('required')">
                        Please enter a valid username
                      </mat-error>
                      <mat-error *ngIf="userNameValue.hasError('required')">
                        Username is <strong>required!</strong>
                      </mat-error>
                    </mat-form-field>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <mat-form-field class="register-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                      <mat-hint>Your Email</mat-hint>
                      <mat-error *ngIf="emailValue.hasError('email') && !emailValue.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                      <mat-error *ngIf="emailValue.hasError('required')">
                        Email is <strong>required!</strong>
                      </mat-error>
                    </mat-form-field>
        
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                  
                    <mat-form-field class="register-full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput formControlName="password" [errorStateMatcher]="matcher"
                              placeholder="Ex. john@123" type="password">
                      <mat-hint>(between 6 and 100 characters)</mat-hint>
                      <mat-error *ngIf="passwordValue.hasError('minLength') || passwordValue.hasError('maxLength') ||  !passwordValue.hasError('required')">
                          Please enter a valid password
                      </mat-error>
                      <mat-error *ngIf="passwordValue.hasError('required')">
                          Password is <strong>required!</strong>
                      </mat-error>
                    </mat-form-field>
      
      
      
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="register-btn">
                  <ion-button [disabled]="registerloading" type="button" expand="block" color="primary" (click)="onSubmit()">
                    <ion-spinner name="crescent" *ngIf="registerloading; else textDisplay"></ion-spinner>
                    <ng-template #textDisplay> 
                      Register
                    </ng-template>
                  </ion-button>
                </ion-col>
              </ion-row>
          </form>

          <ion-row>
            <ion-col>
              <ion-item-divider></ion-item-divider>
            </ion-col>
            <ion-col>
              <h5 class="register-ortext">OR</h5>
            </ion-col>
            <ion-col>
              <ion-item-divider></ion-item-divider>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="login-msg">Already a member? Login <span class="login-link" (click)="routeFunction('/login')">here</span></p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </ng-template>
</ion-content>