.register-title {
    font-weight: bold;
    padding-left: 10px;
}

.register-password .register-btn {
    margin-bottom: 20px;
}

.register-ortext {
    text-align: center;
}

.login-link {
    color: blue;
}

.login-msg {
    text-align: center;
}

.register-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
}

.register-full-width {
    width: 100%;
}



