#details {
    text-align: center;
}

.paymentdisperr {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.history-title {
    text-align: center;
}