#details {
    text-align: center;
}

.paymentdisperr {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.history-title {
    text-align: center;
}

// .pagination-btns {
//     width: 100%;
// }
.prev {
    text-align: right;
}

.next {
    text-align: left;
}

.no-payments {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}