.details {
    width: 100%;
    text-align: justify;
    padding: 5px;
}

.row {
    padding-left: 10px;
}

.transaction-details-header {
    text-align: center;
}

.header {
    margin-top: 15px;
}

ion-icon {
    margin-right: 3px;
    margin-top: 3px;
}